---
import './maturity-assessment.css';
import MaturityQuestions from './MaturityQuestions.astro';
import MaturitySidebar from './MaturitySidebar.astro';
import type { MaturityAssessmentProps } from './types';

export type Props = MaturityAssessmentProps;

const { id = 'maturity-assessment', axes, strings } = Astro.props;
---

<form id={id} data-maturity-assessment data-form class="grid gap-8 lg:grid-cols-2" novalidate>
  <MaturityQuestions id={id} axes={axes} strings={strings} />
  <MaturitySidebar id={id} axes={axes} strings={strings} />

  <script type="application/json" data-axes-json is:inline set:html={JSON.stringify(axes)} />
  <script type="application/json" data-strings-json is:inline set:html={JSON.stringify(strings)} />

  <script>
    import './maturity-assessment.client.ts';
  </script>
</form>
